* {
  --box-size: 12em;
}
.App {
  padding: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(var(--box-size), 1fr));
}

.Cursor {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  min-width: var(--box-size);
  min-height: var(--box-size);
  border-radius: 0.5em;
  background: linear-gradient(
    180deg,
    rgb(24, 48, 79) 10%,
    rgb(32, 116, 181) 10%
  );
}
.cursor-type {
  font-size: 1.4em;
  position: absolute;
  font-weight: 600;
  /* user-select: none; */
}
.cursor-element {
  position: absolute;
  bottom: 1em;
}
.cursor-element > * {
  font-style: italic;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  padding: 0.25em;
  cursor: pointer;
}
.auto > * {
  margin: 0.5em;
}
.help {
  text-decoration: underline;
}
/* sesize */

.resize {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  height: 4em;
}
.e {
  cursor: e-resize;
}
.ew,
.ns {
  transform: rotate(180deg);
}
.ew{
  cursor: ew-resize;
}
.ns{
  cursor: ns-resize;
}

.ne,
.nesw {
  cursor: ne-resize;
  transform: rotate(45deg);
}
.nw,
.nwse {
  cursor: nw-resize;
  transform: rotate(-45deg);
}
.se {
  cursor: se-resize;
  transform: rotate(135deg);
}
.sw {
  cursor: sw-resize;
  transform: rotate(225deg);
}
.s {
  cursor: s-resize;
}

.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-style: normal;
  letter-spacing: -3px;
  margin-bottom: em;
}
.context-menu {
  cursor: context-menu;
}
.cell td {
  cursor: cell;
  padding: 2px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
}
.cell {
  outline: 1px solid white;
  border-radius: 2px;
}
.copy {
  text-decoration: underline;
}
.no-drop {
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.row-resize,
.col-resize {
  -webkit-appearance: none;
  appearance: none;
  /* background: transparent; */
  background: rgba(35, 35, 35, 0.2);
  cursor: pointer;
}
.row-resize::-webkit-slider-thumb,
.col-resize::-webkit-slider-thumb {
  appearance: none;
  background-color: #ffffff;
  height: 2rem;
  width: 0.2rem;
}
.row-resize {
  width: 5em;
  transform: rotate(90deg);
  cursor: row-resize;
}
.col-resize {
  cursor: col-resize;
}

.not-allowed {
  pointer-events: none;
  user-select: none;
}
.zoom {
  content: "";
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 0.1em;
  transition: scale 0.5s;
}
.scale {
  scale: 2;
}
